@import "tailwindcss";
:root {
  --text: #6b6375;
  --text-h: #36443e;
  --text-light: #bac5ba;
  --color-on-dark-bg: #d2e0d2;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --color-text: #fff;
  --color-accent: #283425;
  --color-accent-dark: #494d09;
  --color-accent-hover: #6b6375;
  --color-accent-bg: #262f2e;
  --color-accent-third: #049f6f;
  --color-accent-secondary: #eceae0;
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);

  /* letter-spacing: 0.18px; */
  line-height: 1.5rem;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "JostVariable";
  src: url("./assets/Jost-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/Manrope-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonTextSemiBold";
  src: url("./assets/CrimsonText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonTextRegular";
  src: url("./assets/CrimsonText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-body: "Inter";
  --font-header: "Manrope";
  --font-callout: "Inter";
  --color-on-dark-bg: var(--text-on-dark-bg);
  --color-accent-dark: var(--color-accent-dark);
  --color-accent-bg: var(--color-accent-bg);
  --color-light: var(--text-light);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-secondary: var(--color-accent-secondary);
  --color-accent-three: var(--color-accent-third);
}
