@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import "tailwindcss";
:root {
  --color-dark: #21372f;
  --color-light: #fcf9f5;
  --color-accent: #c17834;
  --color-accent-hover: #6b6375;
  --color-accent-secondary: #364732;

  font: 18px/145% var(--sans);

  /* letter-spacing: 0.18px; */
  line-height: 1.5rem;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

a {
  cursor: pointer;
}

/* body { */
/* background:
    radial-gradient(
      100% 100% at var(--20-x-position, 87.3047%) var(--20-y-position, 96.875%),
      #027443 -57%,
      transparent
    ),
    radial-gradient(
      100% 100% at var(--21-x-position, 15.7031%) var(--21-y-position, 53.4375%),
      #22342c 47%,
      transparent
    ),
    radial-gradient(
      100% 100% at var(--22-x-position, 43.4766%) var(--22-y-position, 10.8594%),
      #0f8a5b -91%,
      transparent
    ),
    radial-gradient(
      100% 100% at var(--23-x-position, 51.875%) var(--23-y-position, 50.2734%),
      #22342c 21%,
      transparent
    ),
    radial-gradient(
      100% 100% at var(--24-x-position, 88.2031%) var(--24-y-position, 48.3594%),
      #032d28 49%,
      transparent
    ), */
/* #027443; */
/* } */

@font-face {
  font-family: "JostVariable";
  src: url("./assets/Jost-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("./assets/Playfair-VariableFont_opsz,wdth,wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/Manrope-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonTextSemiBold";
  src: url("./assets/CrimsonText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Trykker";
  src: url("./assets/Trykker-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-body: "Inter";
  --font-header: "Trykker";
  --font-header2: "Yesteryear";
  --font-subheader: "Trykker";
  --font-callout: "Inter";
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-secondary: var(--color-accent-secondary);
}
